<div>
    <h1>Products in Real Time</h1>
    <div id="form">
    </div>
    <div id="table">

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsRealTime.js"></script>